{% extends 'layout.html' %}
{% block body %}
  <p>
    It works!  Your first Flask application is up and running and
    now ready for you to improve on.
  <h2>Overview</h2>
  <p>
    Here is what you can do now:
  <ul>
    <li>
      The main application code is in <cite>hello.py</cite>.  This
      sets up the Flask application and provides a single view that
      renders this page.
    <li>
      The template that is rendered is <cite>templates/index.html</cite> and
      contains the source for the website you are just looking at.
    <li>
      The layout template that is used is <cite>templates/layout.html</cite>.
      It contains the doctype and general HTML structure.
    <li>
      The stylesheet and other static files are located in the
      <cite>static</cite> folder.
  </ul>
  <h2>Useful Links</h2>
  <p>
    If you feel lost, here some links to useful starting points:
  <ul>
    <li>
      <a href="http://flask.pocoo.org/docs/">Documentation</a> —
      for a comprehensive documentation.
    <li>
      <a href="http://flask.pocoo.org/docs/quickstart/">Quickstart</a> —
      provides an overview of the most important things you need to
      create an application with Flask.
    <li>
      <a href="http://flask.pocoo.org/docs/tutorial/">Tutorial</a> —
      a step by step introduction into creating a small application
      with Flask and a database.
  </ul>
{% endblock %}
