<!doctype html>
<html>
  <head>
  {%- block htmlhead %}
    <title>{% block title %}Welcome{% endblock %} | Hello Flask!</title>
    <link rel=stylesheet href="{{ url_for('.static', filename='style.css') }}" type=text/css>
  {%- endblock %}
  </head>
  <body>
    <div class=page>
      <div class=header>
        <h1>Hello Flask!</h1>
      </div>
      {%- with messages = get_flashed_messages() %}
        {%- if messages %}
          <ul class=flashes>
          {%- for message in messages %}
            <li>{{ message }}</li>
          {%- endfor %}
          </ul>
        {%- endif %}
      {%- endwith %}
      <div class=contents>
        {% block body %}{% endblock %}
      </div>
    </div>
  </body>
</html>
